:root {
    --grey-color: #4F4E50;
    --green-color: #CBD400;
  }
@import url(../fonts/stylesheet.css);
body{
    background-color: var(--grey-color);
    font-family: 'Antenna';
}
/*---------HEADER-------*/
.bg-green{
    background-color: var(--green-color);
    background: rgba(203, 212, 0, 0.8);
}
.navbar{
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-brand{
    padding-top: 2rem;
    padding-left: 3.5rem;
}
.navbar > .container{
    margin-top: 0;
}
.navbar-toggler{
    border: none;
    background-color: var(--grey-color);
    border-radius: 0;
    top: 0;
    padding-left: 1.5rem;
    padding-top: 3.1rem;
    padding-right: 1.5rem;
    padding-bottom: 2rem;
}
.navbar-toggler-icon{
    background-image: url(../img/menu.svg);
    width: 2.6rem;
}
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}
.logos-header{
    margin-right: 1rem;
}
.logos-header-last{
    margin-right: 3rem;
}
.offcanvas{
    background-color: var(--green-color);
}
/*---------HEADER-------*/
/*---------CAROUSEL-------*/
.whatsapp{
    position: fixed;
    bottom: 10rem;
    right: 27rem;
    z-index: 10;
}
#carouselCars .carousel-item{
    min-height: 89vh;
    background-position: center;
    background-size: cover;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    height: 3rem;
    width: 3rem;
}
.carousel-caption{
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    width: 36vw;
    background-color: var(--green-color);
    padding: 10% 0 0 20%;
}
.carousel-caption > h5{
    font-size: 3.4rem;
    text-transform: uppercase;
    width: 40rem;
    font-weight: bold;
}
.carousel-caption > p{
    font-size: 1.2rem;
    color: var(--grey-color);
    margin-top: 2rem;
}
.carousel-caption > a{
    margin-top: 3rem;
}
/*---------CAROUSEL-------*/
/*---------HISTORY-------*/
#historia{
    margin-top: 0.5rem;
}
#historia > img{
    max-width: 1107px;
}
#historia > p{
    padding-top: 4rem;
    padding-left: 5rem;
    color: white;
    width: 70%;
    padding-bottom: 2rem;
}
#historia > img:last-child{
    width: 60%;
  margin-left: 5rem;
  margin-bottom: 5rem;
}
/*---------HISTORY-------*/
/*---------MISION-VISION-------*/
.vision{
    color: white;
    overflow: hidden;
}
.mision{
    color: var(--grey-color);
    overflow: hidden;
}
.mision img{
    max-height: 13rem;
}
.mision-vision > div > article > div{
    padding: 2rem;
}
.mision-vision > div > article > div > h4{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.3rem;
    margin-bottom: 2rem;
}
.mision-vision > div > article > div > p{
    width: 20rem;
}
.mision-vision > div > article{
    padding: 0;
}
.mision-vision > div > article:nth-child(2){
    background-color: var(--green-color);
}
/*---------MISION-VISION-------*/
/*---------EMPRESAS-------*/
#empresas{
    color: white;
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: 5rem;
}
.logos-empresas{
    max-height: 314px;
}
#empresas > div > div > article{
    margin-top: 4rem;
}
#empresas > div > div > article > p{
    margin-top: 2rem;
}
#empresas > div > div > article > p > img{
    margin-top: -10px;
    margin-right: 0.5rem;
}
#empresas > div > div > article.badaloni > p{
    margin-top: 1rem;
}
/*---------EMPRESAS-------*/
/*---------NUESTRAS-MARCAS-------*/
#nuestras-marcas{
    text-align: center;
}
img#wildbrake{
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 35%;
}
.wildbrake{
    display: flex;
}
.wildbrake-mobile{
    display: none;
}
.wildbrake > article, .wildbrake-mobile > article{
    padding: 0;
}
.wildbrake > article > h4, .wildbrake-mobile > article > h4{
    color: var(--green-color);
    text-align: left;
    font-weight: 500;
    font-size: 1.3rem;
}
.wildbrake > article > p, .wildbrake-mobile > article > p{
    padding-top: 1rem;
    color: white;
    text-align: left;
    font-weight: 300;
}
.wildbrake > article > img, .wildbrake-mobile > article > img{
    width: 100%;
}
article.a-right{
    padding: 4.5rem 14rem 0 4.5rem;
    max-height: 22rem;
} 
article.a-left{
    padding: 4.5rem 4.5rem 0 14rem;
    max-height: 22rem;
}
#undercar{
    margin-top: 10rem;
    margin-bottom: 5rem;
}
.undercar > article{
    margin-bottom: 2.5rem;
}
/*---------NUESTRAS-MARCAS-------*/
/*---------LINEAS-------*/
#lineas{
    background-color: var(--green-color);
    padding: 5rem 10rem;
    text-align: center;
    min-height: 20rem;
}
#lineas > img{
    width: 90%;
}
#lineas > h2{
    font-weight: bold;
    color: var(--grey-color);
    font-size: 3rem;
    text-align: left;
    padding-left: 4rem;
}
/*---------LINEAS-------*/
/*---------CONTACTO-------*/
#contacto{
    padding: 5rem 13rem;
}
#contacto > div{
    margin-top: 5rem;
}
#contacto h2{
    text-transform: uppercase;
    color: var(--green-color);
    font-weight: bold;
    margin-bottom: 2rem;
}
#contacto input{
    background-color: var(--grey-color);
    border: 1px solid white;
    color: white;
    font-size: 0.8rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    width: 100%;
    margin-bottom: 1rem;
}
#contacto textarea{
    background-color: var(--grey-color);
    border: 1px solid white;
    color: white;
    font-size: 0.8rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    width: 100%;
    height: 5.8rem;
}
#contacto input[type="submit"]{
    background-color: var(--green-color);
    width: auto;
    padding: 0.5rem 3rem;
    color: var(--grey-color);
    border: 1px solid var(--green-color);
    margin-top: 0.7rem;
}
div.a-right{
    text-align: right;
}
#contacto h6{
    font-weight: bold;
    color: var(--green-color);
}
#contacto p{
    color: white;
    font-weight: 300;
    font-size: 0.9rem;
}
#contacto a{
    color: var(--green-color);
    text-decoration: none;
}
#contacto a:hover{
    color: white;
}
#contacto a.mail{
    color: white;
}
#contacto a.mail:hover{
    color: var(--green-color);
}
#responseMessage {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    display: none;
}
#responseMessage.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}
#responseMessage.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}
#sendingMessage {
    margin-top: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #dcdcdc;
    color: #555;
    border-radius: 5px;
    display: none;
}
/*---------CONTACTO-------*/
/*---------FOOTER-------*/
footer{
    padding-left: 10rem;
}
footer ul{
    list-style: none;
}
footer a{
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-size: 1.2rem;
}
footer a:hover{
    color: var(--green-color);
}
/*---------FOOTER-------*/

/*===============MOBILE===============*/
@media (max-width: 1123px) {
    .logos-header, .logos-header-last{
        display: none;
    }
    .carousel-caption{
        width: 50vw;
    }
    .carousel-caption > h5{
        font-size: 2.8rem;
        margin-top: 10vh;
        width: 30rem;
    }
    #lineas > h2{
        font-size: 2.5rem;
    }
    article.a-right {
        padding: 3.5rem 1rem 0 4.5rem;
    }
    article.a-left {
        padding: 3.5rem 4.5rem 0 1rem;
    }
    .wildbrake > article > h4, .wildbrake-mobile > article > h4{
        font-size: 1.2rem;
    }
    .offcanvas{
        --bs-offcanvas-width: 600px;
    }
    .offcanvas-header{
        justify-content: flex-start;
    }
}
@media (max-width: 575.98px) {
    .carousel-caption{
        width: 100vw;
        padding: 5% 0 0 5%;
    }
    #carouselCars .carousel-item{
        min-height: 75vh;
    }
    .carousel-caption > p{
        padding-right: 20%;
        font-weight: 300;
        font-size: 1.3rem;
    }
    .carousel-caption > h5{
        width: 100%;
        font-size: 2rem;
        margin-top: 20vh;
    }
    .navbar-brand{
        padding-top: 1rem;
        padding-left: 3rem;
    }
    .navbar > .container{
        display: block;
        padding-left: 0;
    }
    .offcanvas.offcanvas-end{
        right: auto;
    }
    .logos-header, .logos-header-last{
        display: none;
    }
    #historia{
        margin-top: 0;
        padding: 0;
    }
    #historia > h2{
        color: white;
        text-transform: uppercase;
        margin-top: 3rem;
        margin-left: 2rem;
        font-size: 1.8rem;
    }
    #historia > p{
        padding: 2rem;
        width: 100%;
    }
    .mision-vision > div > article:nth-child(1){
        background-color: var(--green-color);
    }
    .mision-vision > div > article:nth-child(2){
        background-color: var(--grey-color);
    }
    .mision-vision > div > article > div {
        padding: 3rem;
    }
    .mision-vision > div > article > div > p{
        width: 100%;
    }
    .logos-empresas{
        height: 6rem;
        margin: 2rem;
    }
    #empresas > div > div > article{
        margin-top: 0;
        padding: 1rem 4rem;
    }
    #empresas > div > div > article > img{
        width: 95%;
    }
    #empresas > div > div > article > p {
        margin-top: 2rem;
        font-size: 0.8rem;
        font-weight: 300;
    }
    #empresas > div > div > article > p > img{
        width: 0.9rem;
    }
    #oechsle > img{
        width: 75% !important;
    }
    #megaparts > img{
        width: 85% !important;
    }
    .badaloni > img{
        width: 75% !important;
    }
    #depositos{
        width: 100%;
    }
    #nuestras-marcas{
        padding: 0;
    }
    #nuestras-marcas > h2{
        color: white;
        background-color: var(--green-color);
        text-transform: uppercase;
        padding: 2rem 3rem;
        text-align: left;
        font-size: 2.8em;
    }
    .undercar > article{
        padding: 1rem 5rem;
    }
    .wildbrake{
        display: none;
    }
    .wildbrake-mobile{
        display: block;
    }
    img#wildbrake{
        width: 70%;
    }
    article.a-right{
        padding: 1.5rem 4rem 0 4.5rem;
        max-height: 46rem;
    } 
    article.a-left{
        padding: 4.5rem 4.5rem 0 4rem;
        max-height: 46rem;
    }
    img#undercar{
        width: 70%;
    }
    .undercar > article > img{
        width: 100%;
    }
    #lineas{
        padding: 2rem 1rem;
    }
    #lineas > h2{ 
        padding: 1rem 0.5rem;
        font-size: 1.4rem;
    }
    #contacto {
        padding: 4rem 2rem;
    }
    #contacto h2{
        font-size: 2.8rem;
    }
    #contacto > form > div.a-right{
        text-align: left;
    }
    #contacto input[type="submit"]{
        font-size: 1.1rem;
        font-weight: 300;
    }
    .sm-none{
        display: none;
    }
    .botonera{
        margin-top: -6.1rem;
        margin-right: -1rem;
    }
    .logo-principal{
        margin-top: 3rem;
    }
    footer{
       padding: 0 !important; 
    }
    footer ul {
        width: 50% !important;
        padding-left: 3rem !important;
    }
    footer .redes{
        padding-left: 3rem;
        padding-bottom: 2rem;
    }
    footer .redes img{
        width: 3rem;
    }
    footer .redes a{
        margin-right: 1rem;
    }

}